@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif
}

body,html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 1em;
}
/* Style starts here */
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-family: "Helvetica Neue", hevetica, sans-serif;
	font-weight: 300;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4), 0 2px 2px rgba(0, 0, 0, .24);
}

#form {
	width: 240px;
	margin: 25vh auto;
	text-align: center;
	color: #FFF;
}

#form a:VISITED {
	color: white;
}

#form header #logo {
	font-size: 3.4em;
	padding: 0;
	margin: 0 auto;
}

#form header h1 {
	font-size: 2.2em;
	padding: 0;
	margin: .2em 0;
}

#form article input {
	appearance: none;
	border: 0;
	padding: .8em .8em 1em;
	display: block;
	width: 100%;
	margin: 0em 0;
	border: 1px solid #fff;
	font-size: .8em;
	line-height: 1;
	color: #2c3e50;
	text-shadow: 0 0 0;
	outline: 0;
}

#form article input:nth-child(1) {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: 0;
	margin-bottom: 1em;
}

#form article input:nth-child(2) {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	margin: -1em 0 0em;
	border-top-color: #ccc;
	/*box-shadow*/
	-webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, .4);
	-moz-box-shadow: 0 2px 0 rgba(255, 255, 255, .4);
	box-shadow: 0 2px 0 rgba(255, 255, 255, .4);
}
/*----------sign up form css--------------*/
#signupform {
	width : 950px;
	margin: 25vh auto;
	text-align: center;
	color: #FFF;
	width: 550px;
}

#signupform a:VISITED {
	color: white;
}

#signupform header #logo {
	font-size: 3.4em;
	padding: 0;
	margin: 0 auto;
}

#signupform header h1 {
	font-size: 2.2em;
	padding: 0;
	margin: .2em 0;
}
/*----------sign up form css--------------*/
#error {
	text-align: center;
	color: #F25;
	font-size: 0.8em;
}

#tooltip--why {
	color: transparent;
	text-shadow: 0 0 0 !important;
}

#tooltip--why:after {
	content: '?';
	display: block;
	font-size: .65em;
	font-weight: bold;
	text-align: center;
	width: 1em;
	height: 1em;
	padding: .25em;
	/*border-radius*/
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	position: absolute;
	margin: -2.8em 215px;
	z-index: 2;
	background: #b4b4b4;
	color: #fff;
	text-shadow: 0 0 0;
	line-height: 1
}

#form article input[type=submit] {
	/*border-radius*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 45px;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 0;
	/*linear-gradient*/
	background: -webkit-gradient(linear, left top, left bottom, from(#2186d4),
		to(#175dbd));
	background: -webkit-linear-gradient(#2186d4, #175dbd);
	background: -moz-linear-gradient(#2186d4, #175dbd);
	background: -o-linear-gradient(#2186d4, #175dbd);
	background: linear-gradient(#2186d4, #175dbd);
	color: #fff;
	border: 1px solid #34495e;
	text-shadow: 0 -1px 4px rgba(0, 0, 0, .4);
	/*box-shadow*/
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .4), inset 0 1px 0
		rgba(255, 255, 255, .4), inset 0 -1px 1px rgba(255, 255, 255, .1);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .4), inset 0 1px 0
		rgba(255, 255, 255, .4), inset 0 -1px 1px rgba(255, 255, 255, .1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .4), inset 0 1px 0
		rgba(255, 255, 255, .4), inset 0 -1px 1px rgba(255, 255, 255, .1);
}

#form footer p a {
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

#contain_fields {
	/*box-shadow*/
	-webkit-box-shadow: 0 0 0px 1px #34495e;
	-moz-box-shadow: 0 0 0px 1px #34495e;
	box-shadow: 0 0 0px 1px #34495e;
	margin: 1em 0;
	width: 100%;
	height: auto;
	float: left;
	/*border-radius*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#contain_fields_two {
	/*box-shadow*/
	-webkit-box-shadow: 0 0 1px 1px #34495e;
	-moz-box-shadow: 20 20 1px 1px #34495e;
	box-shadow: 0 0 0px 1px #34495e;
	margin: 1em 0;
	width: 100%;
	height: auto;
	float: left;
	/*border-radius*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 20px;
	border-radius: 1px;
}

label[for=remember] {
	color: white;
	display: inline-block;
	padding-bottom: 0;
	padding-top: 5px;
}

/* ---------Main title css------------*/
mainpage {
	font-family: "Lobster", sans-serif;
	font-size: 75px;
	font-weight: bold;
	text-align: center;
}

.mask-galaxy {
	background:
		url(http://www.jpl.nasa.gov/spaceimages/v2/getMediumImage.php?id=PIA03519)
		center center;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-animation: travelGalaxy 10s linear infinite;
	-moz-animation: travelGalaxy 10s linear infinite;
	-moz-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-animation: travelGalaxy 10s linear infinite;
	-o-text-fill-color: transparent;
	-o-background-clip: text;
	-o-animation: travelGalaxy 10s linear infinite;
}

@-webkit-keyframes travelGalaxy { 0% {
	background-position: right bottom;
}
100%
{
background-position : left top;
}
}
@-moz-keyframes travelGalaxy { 0% {
	background-position: right bottom;
}

100%
{
background-position : left top


;
}
}

/* ----------------Sign UP form------------------------*/
button {
	cursor: pointer;
}

signp {
	padding: 5px 0;
}

signup_body {
	min-width: 960px;
	background-color: #F1F1F1;
	font-size: 20px;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

.btn {
	margin: 5px;
	font-size: 1.8em;
	font-weight: bold;
	border: 4px solid rgba(0, 0, 0, 0.2);
	display: inline-block;
	box-shadow: 0 -30px 30px -15px #00329B inset, 0 1px 0
		rgba(255, 255, 255, 0.3) inset;
	background: #0088CC;
	background-repeat: repeat-x;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 7px;
	padding: 10px 20px;
	-webkit-transition: 0.15s;
	transition: 0.15s;
}

.btn:hover {
	background: #0068BA;
}

.btn:active {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), 0 -30px 30px -15px #00329B inset,
		0 0 6px #00243F inset;
}

.btn.github {
	float: right;
}

#wrap {
	padding: 50px;
	width: 760px;
	margin: 20px auto;
	position: relative;
}

.options {
	position: absolute;
	top: -1px;
	right: -1px;
	background-color: #F1F1F1;
	padding: 4px 0;
	border-left: 1px dashed #AAA;
	border-bottom: 1px dashed #AAA;
}

.options label {
	cursor: pointer;
	margin: 0 10px;
}

input,textarea {
	border: 2px solid #D1D1D1;
	height: 40px;
}

input,select {
	font-size: inherit;
	margin: 0;
}

input:focus,textarea:focus {
	border-color: #AAA;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

input[type=checkbox] {
	border: none;
	bottom: -1px;
	cursor: pointer;
	margin: 0 5px 0 0;
	position: relative;
}

button[type=submit] {
	font-size: 1.1em;
	padding: 5px 25px;
}

/* Tooltips helpers */
.item .tooltip {
	float: left;
	top: 2px;
	left: 7px;
	position: relative;
	z-index: 2;
}

.item .tooltip:hover {
	z-index: 3;
}

.item .tooltip>span {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	cursor: help;
	background-color: #00AEEF;
	position: relative;
	border-radius: 10px;
}

.item .tooltip .content {
	opacity: 0;
	width: 200px;
	background-color: #333;
	color: #FFF;
	font-size: 0.9em;
	position: absolute;
	top: 0;
	left: 20px;
	padding: 8px;
	border-radius: 6px;
	pointer-events: none;
	transition: 0.2s cubic-bezier(0.1, 0.1, 0.25, 2);
	-webkit-transition: 0.3s cubic-bezier(0.1, 0.2, 0.5, 2.2);
	-moz-transition: 0.3s cubic-bezier(0.1, 0.2, 0.5, 2.2);
}

.item .tooltip p {
	padding: 0;
}

.item .tooltip.down .content {
	left: auto;
	right: 0;
	top: 30px;
}

.item .tooltip:hover .content {
	opacity: 1;
	left: 36px;
}

.item .tooltip .content b {
	height: 0;
	width: 0;
	border-color: #333 #333 transparent transparent;
	border-style: solid;
	border-width: 9px 7px;
	position: absolute;
	left: -14px;
	top: 8px;
}

.item .tooltip.down .content b {
	left: auto;
	right: 6px;
	top: -10px;
	border-width: 5px;
	border-color: transparent #333 #333 transparent;
}

/* alerts (when validation fails) */
.item .alert {
	float: left;
	margin: 0 0 0 20px;
	padding: 3px 10px;
	position: relative;
	color: #FFF;
	border-radius: 3px 4px 4px 3px;
	background-color: #CE5454;
	max-width: 170px;
	white-space: pre;
	z-index: 1;
}

.item .alert::after {
	content: '';
	display: block;
	height: 0;
	width: 0;
	border-color: transparent #CE5454 transparent transparent;
	border-style: solid;
	border-width: 11px 7px;
	position: absolute;
	left: -13px;
	top: 1px;
}

@
keyframes shake { 25%{
	transform: translateX(-6px);
}

75%{
transform


:translateX(6px)


;
}
}
@
-webkit-keyframes shake { 25%{
	-webkit-transform: translateX(-6px);
}

75%{
-webkit-transform


:translateX(6px)


;
}
}
form fieldset {
	margin: 0 0 15px 0;
	width: 750px;
	float: left;
	border: 1px silver;
}

form .item {
	position: relative;
	height: 2em;
}

form .item.items {
	height: auto;
}

.item label {
	float: left;
}

.item label span {
	float: left;
	font-size: large;
	font-weight: bold;
	width: 205px;
	text-transform: capitalize;
	line-height: 1.5em;
}

.item input,.item textarea {
	float: left;
	margin-bottom : 4px;
	padding: 3px 4px;
	width: 210px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.item input {
	
}

.item input.short {
	width: 90px;
}

.item input:focus:not ([type="checkbox"] ),.item textarea:focus {
	box-shadow: 0 0 4px #00AEEF;
	border: 1px solid #00AEEF;
}

.item textarea {
	
}

.item select {
	float: left;
	width: 220px;
	padding: 2px 0;
	margin: 0;
	border: 1px solid #CCC;
	text-transform: capitalize;
}

.item select option {
	padding: 1px;
}

.item>.extra {
	float: left;
	font-size: 0.9em;
	color: #999;
	line-height: 2em;
	margin-left: 13px;
}

.item.multi .input {
	float: left;
}

.item.multi input {
	float: left;
	margin-right: 5px;
	width: 35px;
	text-align: center;
}

form .item.multi input:nth-last-child(-n+2) {
	margin: 0;
}

.item.items input {
	border-top: 5px solid #E1E1E1;
	margin: 0 0 0 160px;
}

.bad input[required=required],.bad input.optional,.bad select,.bad textarea
	{
	border: 1px solid #CE5454;
	box-shadow: 0 0 4px -2px #CE5454;
	position: relative;
	left: 0;
	-moz-animation: .3s 2 shake linear;
	-webkit-animation: 0.3s 2 shake linear;
}

/* mode2 - where the label's text is above the field and not next to it
--------------------------------------------------------------------------- */
.mode2 .item {
	float: left;
	clear: left;
	margin-bottom: 30px;
	height: auto;
	padding: 0;
	zoom: 1;
}

.mode2 .item.bad {
	margin-bottom: 8px;
}

.mode2 .item::before,.mode2 .item::after {
	content: '';
	display: table;
}

.mode2 .item::after {
	clear: both;
}

.mode2 .item label {
	
}

.mode2 .item label span {
	float: none;
	display: block;
	line-height: inherit;
}

.mode2 .item input,.item textarea {
	width: 250px;
	margin: 0;
}

.mode2 .item textarea {
	width: 350px;
	margin: 0;
}

.mode2 .item select {
	width: 260px;
	float: none;
}

.mode2 .item.multi label {
	float: none;
}

.mode2 .item.multi input {
	float: left;
	margin-right: 5px;
	width: 35px;
	text-align: center;
}

.mode2 .item .tooltip {
	left: auto;
	position: absolute;
	right: -22px;
	top: 19px;
}

.mode2 .item .alert::after {
	display: none;
}

.mode2 .item .alert {
	float: none;
	clear: left;
	margin: 0;
	padding: 0 5px;
	border-radius: 0 0 3px 3px;
	max-width: 100%;
	height: 22px;
	line-height: 1.8em;
}

.mode2 .item>.extra {
	position: absolute;
	right: 0;
}

/*----blue button ------*/
bluebutton {
	display: block;
	width: 100px;
	margin: 25vh auto;
	position: absolute;
	top: 480px;
	left: 885px;
}

.btn {
	text-decoration: none;
	appearance: none;
	padding: .8em .8em 1em;
	display: block;
	float: left;
	width: auto;
	margin: .2em .4em;
	border: 1px solid #fff;
	font-size: .8em;
	line-height: 1;
	color: #2c3e50;
	text-shadow: 0 0 0;
	outline: 0;
	/*border-radius*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 50px;
	font-weight: bold;
	font-size: 1.2em;
	line-height: .6;
	/*linear-gradient*/
	background: -webkit-gradient(linear, left top, left bottom, from(#2186d4),
		to(#175dbd));
	background: -webkit-linear-gradient(#2186d4, #175dbd);
	background: -moz-linear-gradient(#2186d4, #175dbd);
	background: -o-linear-gradient(#2186d4, #175dbd);
	background: linear-gradient(#2186d4, #175dbd);
	color: #fff;
	border: 1px solid #244868;
	text-shadow: 0 -1px 4px rgba(0, 0, 0, .4);
	/*box-shadow*/
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2), inset 0 1px 0
		rgba(255, 255, 255, .2), inset 0 -1px 1px rgba(255, 255, 255, .1);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2), inset 0 1px 0
		rgba(255, 255, 255, .2), inset 0 -1px 1px rgba(255, 255, 255, .1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .2), inset 0 1px 0
		rgba(255, 255, 255, .2), inset 0 -1px 1px rgba(255, 255, 255, .1);
	position: relative
}

/*--------file upload css --------*/

.item .custom_file_upload {
	width: 600px;
	height: 50px;
}


.item .custom_file_upload input.file {
	width: 150px;
	height: 30px;
	border: 1px solid #BBB;
	border-right: 0;
	color: #888;
	padding: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	outline: none;
}

.item .custom_file_upload .file_upload {
	width: 80px;
	height: 35px;
	background: #2288ff;
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7abcff),
		color-stop(44%, #60abf8), color-stop(100%, #4096ee));
	background: -webkit-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
	background: -o-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
	background: -ms-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
	background: linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#7abcff',
		endColorstr='#4096ee', GradientType=0);
	display: inline;
	position: absolute;
	left: 330px;
	overflow: hidden;
	cursor: pointer;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius : 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; 
	font-weight : bold; color : #FFF;
	text-align : center;
	padding-top: 8px;
	text-align: center;
	color: #FFF;
	-webkit-border-bottom-right-radius: 5px;
	border:  1px solid black;
	margin-right: 50px;
}

.item .custom_file_upload .file_upload:before {
	content: 'UPLOAD';
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	cursor: pointer;
}

.item .custom_file_upload .file_upload input {
	height: 30px;
	width: 250px;
	display: inline;
	cursor: pointer;
	opacity: 0;
}