@CHARSET "UTF-8";
body {
	font-size: small;
}

/*header정보를 출력하는 태그를 찾아아 다음 블럭의 스타일을 적용하라*/ 
#header {
	background-color: #0EE7B8;
	color: #ffffff;
/* 	border: 2px solid gray; */
	height: 63px;
	margin-bottom: 15px;
}

#header a:LINK {
	color: white;
}

#header a:VISITED {
	color: white;
}

#logout {
/* 	border: 1px solid red; */
	margin-top: 15px;
	margin-right: 5px;
	float:right;
}

/*tail 정보를 출력하는 태그를 찾아서 다음 블럭의 스타일을 적용하라*/
#tail {
	background-color: #DCEBE1;
	border-top: 2px solid gray;
	height: 40px;
	clear: left;
	text-align: center;
	padding-top: 10px;
}

#sidebar {
	background: #FFFF92;
	float: left;
	width: 180px; 
	margin-bottom: 5px;
	padding: 0px 5px 0px 5px;
}

#content {
/* 	border: 2px solid blue; */
	margin-left: 200px;
}

#memberPhoto {
	width: 50px;
	float: left;
}

#memberInfo {
/* 	border: 2px solid blue; */
	padding: 10px;
	margin-left: 55px;
}

#name {
	font-size: 120%;
	font-weight: bold;
	line-height: 130%;
	padding: 0px;
	margin: 0px;
}

#tel {
	font-size: 80%;
	color: gray;
	line-height: 130%;
	padding: 0px;
	margin: 0px;
	
}

#email {
	font-size: 90%;
	line-height: 130%;
	padding: 0px;
	margin: 0px;
}



/* --------------상단 바 css----------------*/

nav.menu1{ 
  border: 1px solid #e1e1e1;
}

nav.menu1 ul{
    list-style: none;
    margin: 0; padding: 0;
}

nav.menu1 ul li{  
    display: inline-block; 
     margin-right: -5px; /* http://goo.gl/PgDFb */
}

nav.menu1 ul li a img{ 
vertical-align: -9px;
  margin: 0; padding: 0 10px 0 0;
    opacity: 0.7;
}

nav.menu1 ul li space { 
	margin-left: 855px;
}

nav.menu1 ul li a{
  
    display: inline-block;
    padding: 15px 25px;
    
    font-size: 1.1em;
    color: #333;
    text-decoration: none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    box-shadow: inset -1px 0 1px rgba(0,0,0, 0.2),
    inset 1px 0 1px rgba(0,0,0, 0.2),
                inset 0 -29px rgba(0,0,0, 0.08);
}


nav.menu1 ul li a:hover{
    background: #eee;
    color: #000;
    padding: 15px 40px;
}

nav.menu1 ul li a:active{
   background: #ccc;
}

