<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>sweb10</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:net/bitacademy/java41/conf/application-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>net.bitacademy.java41.listeners.WebAppListener</listener-class>
	</listener>

	<!-- 필터 선언 -->
	<filter>
		<filter-name>CharSetFilter</filter-name>
		<filter-class>net.bitacademy.java41.filters.CharSetFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>net.bitacademy.java41.filters.AuthFilter</filter-class>
	</filter>

	<!-- 필터에 URL을 설정 . URL 패턴의 설정 순서대로 필터를 실행한다. -->
	<filter-mapping>
		<filter-name>CharSetFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<!-- 서블릿 선언 -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/dispatcher-context.xml</param-value>
		</init-param>
		<!-- 서블릿 컨테이너에게 웹 애플리케이션을 시작할 때 이 서블릿 객체를 미리 만들어 둘 것을 지시한다. => 이 서블릿 객체의 
			init()호출된다 숫자의 의미는 객체를 생성하는 순서(작은순서부터 실행) <load-on-startup>태그를 지정하지 않으면, 
			해당 서블릿은 첫번째 요청이 들어올 때 생성된다. -->
		<load-on-startup>0</load-on-startup>
		
		<!-- for Servlet 3.0
			<multipart-config>
				<max-file-size>3000000</max-file-size>
			</multipart-config>
		 -->
	</servlet>
	<!-- 서블릿에 URL을 설정 -->
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>